$print-width: 8.5in
$padding-top: 1.125in
$padding-inline: 0.75in
$padding-bottom: 0.125in

.certificate-page
  background-image: url('../images/icsclass-certificate-header.png')
  background-repeat: no-repeat
  background-position: center 0.25in
  background-size: contain
  position: relative
  display: flex
  flex-direction: column
  max-width: $print-width
  min-height: 10.5in
  width: 100%
  margin-inline: auto
  padding: $padding-top $padding-inline $padding-bottom
  font-size: 0.8rem
  box-shadow: 0 0 0.5in -0.25in rgba(0,0,0,0.5)

  table.certificate-header
    width: 100%
    margin-bottom: 0.5rem

    th, td
      text-align: center
      vertical-align: middle
      padding: 0.25rem
      line-height: 1.2

    th:first-child, td:first-child
      width: 30%
      text-align: left

    th:nth-child(2), td:nth-child(2)
      width: 50%

    th:last-child, td:last-child
      width: 30%

  h2, h1, p
    margin: 0.125rem 0
    line-height: 1.2

  h1, h2
    break-after: avoid
    page-break-after: avoid

  p
    max-width: none
    line-height: 1.5

  hr
    border: 0
    border-top: 2px solid $dark-gray

  table
    width: 100%
    margin: 0.75rem 0

    tr
      break-inside: avoid
      page-break-inside: avoid

    th, td
      padding: 0.25rem

    td
      border-bottom: 1px solid $gray

      img
        margin-inline: auto
        width: 0.125in
        height: 0.125in

    thead
      tr
        background-color: lighten($dark-gray, 25%)
        color: $white
        font-size: 0.6rem
        line-height: 1
        text-transform: uppercase
        letter-spacing: 1px
        th:first-child
          text-align: left

.certificate-icon
  width: 1rem
  height: auto
  margin-inline: auto

.certificate-footer
  break-inside: avoid
  page-break-inside: avoid
  margin-top: auto
  padding-top: 1in

.issue-date
  display: grid
  gap: 1rem
  grid-template-columns: 3fr 1fr
  align-items: center
  break-inside: avoid
  page-break-inside: avoid
  p
    max-width: 40ch

.date
  p
    margin: 0
    text-align: center
    line-height: 1.1

.signature-seal
  display: flex
  gap: 1rem
  break-inside: avoid
  page-break-inside: avoid

.signature
  background-repeat: no-repeat
  background-position: center 10px
  padding-top: 4rem
  width: 225px
  margin-left: auto
  text-align: center
  position: relative
  break-inside: avoid
  page-break-inside: avoid
  img
    height: 5rem
    width: auto
    position: absolute
    top: 0
    left: 1rem
    mix-blend-mode: multiply
    z-index: -1
  p
    line-height: 1

.sello
  display: block
  width: 120px
  height: 120px
  opacity: 0.75
